APP_ENV=local
API_KEY=dev-api-key

NORTHWIND_URL=https://raw.githubusercontent.com/jpwhite3/northwind-SQLite3/4f56e7f5906dfd23b25244c5bfe8fb5da6402efd/dist/northwind.db

RAW_DB_PATH=data/raw/northwind.db
RUNTIME_DB_PATH=data/runtime/northwind.db
APP_DB_PATH=data/app/app.db